
.filter{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 50px;
    font-family: 'Oswald-ExtraLight';
    border: 1px solid rgb(150, 150, 150);
}

.filter__input{
    margin: 0;
    padding: 0;
    margin: 0px 0px 0 25px;
    height: 100%;
    border: none;
}

.filter__button:first-of-type{
    margin-left: 15px;
}

.filter__button{
    height: 100%;
    background-color: #999797;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.filter__button_active{
    background-color: #4CAF50;
    border: none;
    color: white;
}