
.filter{
    display: flex;
    flex-direction: row;
    width: max-content;
    height: 50px;
    font-family: 'Oswald-ExtraLight';
    border: 1px solid #D1D2D6;
    border-radius: 4px;
}

.filter__input{
    margin: 0;
    padding: 0;
    margin: 0px 0px 0 25px;
    height: 100%;
    width: 250px;
    border: none;
    font-family: 'NerkoOne';   
    font-size: 25px;
}

.filter__button:first-of-type .filter__button_enabled:first-of-type{
    margin-left: 15px;
}

.filter__button{
    height: 100%;
    background-color: #313131;
    color: rgb(255, 255, 255);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    font-size: 14px;
    border: none;
}
.filter__button:hover{
    cursor: pointer;
}

.filter__button_enabled{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    font-size: 14px;
}