.popup__content_error{
    left: 25px;
    bottom: 25px;
    position: absolute;
    width: 250px;
    height: 90px;
    justify-content: flex-start;
    box-shadow: 5px 5px 25px rgb(0 0 0 / 55%);
    border-radius: 6px;
}